{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
  <header>
    <h1>{{ .Title }}</h1>
    <div>
      {{ range .Params.tags }}
      <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
      {{ end }}
    </div>
  </header>
  {{ with .Params.thumbnail }}
  <img src="{{ . }}" alt="thumbnail" class="p-article__thumbnail">
  {{ end }}
  <section id="js-article" class="p-article__body">
    <div><button id="draw-day1" style="margin-top: 0.5em; padding: 1em; font-size: 1.5em;">Draw day 1</button></div>
    <div><button id="draw-day2" style="margin-top: 0.5em; padding: 1em; font-size: 1.5em;">Draw day 2</button></div>
    <div><button id="draw-day3" style="margin-top: 0.5em; padding: 1em; font-size: 1.5em;">Draw day 3</button></div>
    <div id="selected-card"></div>
    <script>
      let days = [[], [], []];

      fetch("/tmb.json")
        .then(function (response) {
          if (response.ok) {
            return response.json();
          }
          document.getElementById("selected-card").innerHTML = "Could not download file containing 1-3 days content.";
        })
        .then(function (json) {
          if (json !== undefined) {
            days = json;
          }
        });

      function handleDayX(dayNumber) {
        return function (e) {
          function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
          }

          const day = days[dayNumber][getRandomInt(0, days[dayNumber].length)];

          function formatReward(reward) {
            return Object.entries(reward).map(([what, amount]) => {
              switch (what) {
                case "tpt": return amount == 1 ? "1 Training Point" : amount + " Training Points";
                case "loot": return "Each Gearloc draws " + amount + " loot";
                case "ppt": return amount == 1 ? "1 Progress Point" : amount + " Progress Points";
                case "trove": return amount == 1 ? "1 Trove Chest" : amount + " Trove Chests";
              }
            }).join(", ") + ".";
          }

          let choicesHtml = "";
          for (const c of day.choices) {
            choicesHtml += "<h3>" + c.title + "</h3>";
            choicesHtml += "<p>" + (c.battle ? "Battle" : "No battle") + "</p>";
            choicesHtml += "<p>" + c.description + "</p>";
            choicesHtml += "<p>";
            if (Object.keys(c.reward).length === 0) {
              choicesHtml += "No choice reward.";
            } else {
              const rewards = formatReward(c.reward);
              choicesHtml += "Choice reward: " + rewards;
            }
            choicesHtml += "</p>";
          }
          document.getElementById("selected-card").innerHTML = `
        <h2>${day.title}</h2>
        <p><i>${day.lore}</i></p>
        ${choicesHtml}
        <h3>Additional rewards:</h3>
        <p>${formatReward(day.reward)}</p>
        `;
        }
      };

      document.getElementById("draw-day1").onclick = handleDayX(0);
      document.getElementById("draw-day2").onclick = handleDayX(1);
      document.getElementById("draw-day3").onclick = handleDayX(2);
    </script>
  </section>
</article>
{{ partial "footer.html" . }}
